---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photo_id=28439083854&method=flickr.photos.getInfo&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="dad0eb26ae1afd1f034759702345c775",
        oauth_nonce="5fnhVnzGoNRcjUiqtC5MfxrrNiAw4cfMs0KKgTrFYzA%3D", oauth_signature="50e79f0c57825cc4%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1471516336", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photo":{"id":"28439083854","secret":"49cd1a4ab6","server":"8843","farm":9,"dateuploaded":"1471499543","isfavorite":0,"license":"0","safety_level":"0","rotation":0,"originalsecret":"f6905704ff","originalformat":"jpg","owner":{"nsid":"66887658@N05","username":"v8dub","realname":"Daniel  _
        v8dub","location":"Fribourg, Suisse","iconserver":"8259","iconfarm":9,"path_alias":"v8dub"},"title":{"_content":"Chevrolet
        Blazer"},"description":{"_content":" Deni''s Diner Route 66, Pensier \/ Fribourg\n
        <a href=\"http:\/\/www.denis-diner.ch\/R66\/index.php\/notre-carte\" rel=\"nofollow\">www.denis-diner.ch\/R66\/index.php\/notre-carte<\/a>                                 "},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1471499543","taken":"2016-08-13
        12:40:38","takengranularity":"0","takenunknown":"0","lastupdate":"1471506772"},"views":"125","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":1,"canaddmeta":0},"usage":{"candownload":1,"canblog":0,"canprint":0,"canshare":0},"comments":{"_content":"0"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[{"id":"66882318-28439083854-632","author":"66887658@N05","authorname":"v8dub","raw":"Chevrolet","_content":"chevrolet","machine_tag":false},{"id":"66882318-28439083854-41869","author":"66887658@N05","authorname":"v8dub","raw":"Blazer","_content":"blazer","machine_tag":false},{"id":"66882318-28439083854-13393","author":"66887658@N05","authorname":"v8dub","raw":"Chevy","_content":"chevy","machine_tag":false},{"id":"66882318-28439083854-4326","author":"66887658@N05","authorname":"v8dub","raw":"4x4","_content":"4x4","machine_tag":false},{"id":"66882318-28439083854-2107","author":"66887658@N05","authorname":"v8dub","raw":"schweiz"[...]
