---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: method=flickr.reflection.getMethods&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="dad0eb26ae1afd1f034759702345c775",
        oauth_nonce="e74%2BrWnI7QzDE7H2MseIzf6%2FEf%2F%2B33Ce8QTVW4jmljo%3D", oauth_signature="50e79f0c57825cc4%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1471499972", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Y-Trace:
      - BAEAQAAAAADUGHXvAROy3gAAAAAAAAAA9LUTBi65qeQAAAAAAAAAAAAFOlJJLWoTAAU6UkkwHm_JnlXxAAAAAA--
    body:
      encoding: ASCII-8BIT
      string: '{"methods":{"method":[{"_content":"flickr.activity.userComments"},{"_content":"flickr.activity.userPhotos"},{"_content":"flickr.auth.checkToken"},{"_content":"flickr.auth.getFrob"},{"_content":"flickr.auth.getFullToken"},{"_content":"flickr.auth.getToken"},{"_content":"flickr.auth.oauth.checkToken"},{"_content":"flickr.auth.oauth.getAccessToken"},{"_content":"flickr.blogs.getList"},{"_content":"flickr.blogs.getServices"},{"_content":"flickr.blogs.postPhoto"},{"_content":"flickr.cameras.getBrandModels"},{"_content":"flickr.camera[...]
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: tags=car&per_page=10&method=flickr.photos.search&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="dad0eb26ae1afd1f034759702345c775",
        oauth_nonce="%2FJ6bZri%2FltSATDq5hRv7N7JxxPM5DjDITA5dYHUuUWg%3D", oauth_signature="50e79f0c57825cc4%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1471499973", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Y-Trace:
      - BAEAQAAAAAAhdZ_uCyHROAAAAAAAAAAA7rjWL4OJzT0AAAAAAAAAAAAFOlJJMf2HAAU6Ukk1cYsnITx3AAAAAA--
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":51752,"perpage":10,"total":"517513","photo":[{"id":"28439083854","owner":"66887658@N05","secret":"49cd1a4ab6","server":"8843","farm":9,"title":"Chevrolet
        Blazer","ispublic":1,"isfriend":0,"isfamily":0},{"id":"29060219335","owner":"62603665@N00","secret":"12cb1b902b","server":"8720","farm":9,"title":"Golden","ispublic":1,"isfriend":0,"isfamily":0},{"id":"28438985974","owner":"22653006@N05","secret":"ffc8429b88","server":"8459","farm":9,"title":"I
        Tramo de Tierra Villa de Quel","ispublic":1,"isfriend":0,"isfamily":0},{"id":"29060042715","owner":"22653006@N05","secret":"f612f34455","server":"7501","farm":8,"title":"I
        Tramo de Tierra Villa de Quel","ispublic":1,"isfriend":0,"isf[...]
